[rb-track], .track
  +transition(all 800ms ease)
  +transform-origin(center top)
  +transform(translateY(10px))
  opacity: 0.0
  background: $track-background
  position: relative
  width: 100%
  height: 80px
  overflow: hidden 
  border-bottom: 1px solid darken($track-background, 5)

  .pre, .post
    position: absolute
    width: 100%
    height: 100%
    top: 0px
    left: 0px

  .post
    top: 100%

  .pre
    .title-container
      display: table
      height: 80px 
      width: 100%

      .title
        display: table-cell
        text-align: center
        vertical-align: middle

      h2
        font-size: 20px

    .actions
      position: absolute
      width: 100%
      top: 50%
      padding: 20px 0 0 0
      left: 0px
      text-align: center
      .action
        box-shadow: inset 0px 0px 1px rgba(0,0,0,0.25), 0px 0px 1px 0px white
        +transition(all 400ms ease)
        +transform(translateY(20px))
        opacity: 0.0
        width: 30px
        height: 30px
        border-radius: 20px
        background: #414141
        display: inline-block
        margin: 0 5px
        &:nth-child(1)
          +transition(all 600ms ease)
        &:nth-child(2)
          +transition(all 500ms ease)
        &:hover
          width: 40px
          height: 40px

  &:hover
    .pre .actions .action
      +transform(translateY(0px))
      opacity: 1.0
