@import "base"
@import "etc/reset"
@import "etc/typeography"
@import "etc/classes"

html, body
  width: 100%
  height: 100%
  position: relative

body
  position: relative
  background: $color-light

.page 
  +outer-container
  padding: 20px 0


@import "directives/header"
@import "directives/discography"
@import "directives/playlist"
@import "directives/track"
