doctype html
html(ng-app="bakken")
  head
    title(rb-title) Ricky Bakken
    link(rel='stylesheet', href='/fonts/include.css', type='text/css')
    link(rel='stylesheet', href='/css/app.css', type='text/css')
  body
    header(rb-header)
    .page
      div(ng-view)
    if debug
      script(type='text/javascript', src='/js/app.js')
    else
      script(type='text/javascript', src='/js/app.min.js')
