doctype html
html(ng-app="bakken")
  head
    meta(charset="utf-8")
    title(rb-title) Ricky Bakken
    meta(name="description" value="rickky bakken")
    meta(name="keywords" value="rickky, bakken, bass, music, artist, soundcloud")
    link(rel='icon', href='http://media.bakken.fm/bakken.png')
    link(rel='shortcut icon', href='http://media.bakken.fm/bakken.png')
    link(rel='stylesheet', href='/fonts/include.css', type='text/css')
    link(rel='stylesheet', href='/vendor/zocial/zocial.css', type='text/css')
    link(rel='stylesheet', href='/vendor/ionicons/css/ionicons.css', type='text/css')
    link(rel='stylesheet', href='/css/app.css', type='text/css')
    // created by Danny Hadley (@dadleyy)
  body
    .loader(rb-loader)
    header(rb-header)
    .page
      div(ng-view)
    if debug
      script(type='text/javascript', src='/js/app.js')
    else
      script(type='text/javascript', src='/js/app.min.js')
