.discography(ng-style="getDiscographyHeight()")
  .playlist-container(ng-repeat="playlist in playlists", ng-style="getPlaylistPosition(playlist, $index)")
    .inner(ng-class="")
      .pl(rb-playlist, playlist="playlist", order="$index")

