.header
  .oc
    .branding
      a.title.thin(href="/") R<i>icky</i>
        em.light B<i>akken</i>
      p.rb.inline-block.thin.bass-player
        small Bass Player
    .links(ng-class="{expanded: expanded}")
      a.icon.ion.menu.expander(ng-click="toggle()" href="#")
      a.icon.soundcloud(href="https://soundcloud.com/rickybakken")
      a.icon.twitter(href="https://twitter.com/RBakk")
      a.icon.ion.resume(href="/resume")
      a.icon.ion.discography(href="/discography")


