.header
  .oc
    .branding
      a.title(href="/") Ricky
        em Bakken
    .links
      a.icon.soundcloud(href="https://soundcloud.com/rickybakken")
      a.icon.twitter(href="https://twitter.com/RBakk")
      a.icon.ion.resume(href="/resume")
      a.icon.ion.discography(href="/discography")


