.loader(ng-class="{loading: loading}")
  .overlay
  .content
    .inner
      .right
        .spinner(rb-spinner width="60" height="60" stop-on="loaderFinished")
      .left
        h3.load-text.regular {{ text }}
