.playlist(ng-class="{viewable: ready}")
  .loader
    .spinner(rb-spinner)
  .inner
    .title-area
      .playlist-image(rb-playlist-image, playlist="playlist")
      .playlist-title-container
        h1.title {{ playlist.title }}
    .track-area
      .track-container(ng-repeat="track in playlist.tracks")
        .track(rb-track track="track")
