.track(ng-class="{reveal: revealed}")
  .pre
    .title-container
      .title
        h2.track-title {{ track.title }}
    .actions
      .action
        button.twitter(ng-click="goTo('twitter')")
      .action
        button.play(ng-click="play()")
      .action
        button.soundcloud(ng-click="goTo('soundcloud')")
  .post
