.track(ng-class="{reveal: revealed, playing: playing}")
  .pre
    .title-container
      .title
        h2.track-title {{ track.title }}
    .actions
      .action-container
        button.action.twitter(ng-click="goTo('twitter')")
      .action-container
        button.action.state(ng-click="toggle()")
      .action-container
        button.action.soundcloud(ng-click="goTo('soundcloud')")
  .post
