.track(ng-class="{reveal: revealed}")
  .pre
    .title-container
      .title
        h2 {{ track.title }}
    .actions
      .action
        button.twitter
      .action
        button.play(ng-click="play()")
      .action
        button.soundcloud
  .post
